{% load i18n %}
<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;overflow-x: hidden;font-family: Verdana,sans-serif;font-size: 15px;line-height: 1.5;">
<head style="box-sizing: inherit;">
    <meta charset="UTF-8" style="box-sizing: inherit;">
    <title style="box-sizing: inherit;">{% trans "Gifts" %}</title>
</head>
<body style="box-sizing: inherit;margin: 0;font-size: 15px;font-family: Verdana,sans-serif;line-height: 1.5;">
<div style="box-sizing: inherit;font-family: 'Lobster';box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);transition: 0.5s;opacity: 0.8;margin: 16px!important;padding: 8px 16px!important;background-color: rgb(139, 150, 32)!important;color: rgb(239, 229, 217)!important;">
<h3 style="box-sizing: inherit;font-size: 24px;font-family: 'Lobster';font-weight: 400;margin: 10px 0;">{% trans "Gifts" %}</h3>
</div>

<div style="box-sizing: inherit;font-family: 'Lobster';box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);transition: 0.5s;opacity: 0.7;border-left: 6px solid #ccc!important;margin: 16px!important;padding: 8px 16px!important;background-color: rgb(239, 229, 217)!important;color: black!important;border-color: rgb(139, 150, 32)!important;">
    <p style="box-sizing: inherit;">
        {% blocktrans %}There is a new reservation of the{% endblocktrans %} <strong style="box-sizing: inherit;">{{ gift.title }}</strong> ({{ gift.reserved }} / {{ gift.capacity }}).
    </p>
    <br/>
    <br/>
    <p style="box-sizing: inherit; font-style: italic;">
    {% trans "Your wedding page." %}
    </p>
</div>



</body>
</html>
