{% extends 'web/base.html' %}
{% load i18n %}

{% block content %}
<div class="w3-margin w3-padding w3-card-4 w-green w-text-gray w-opacity">
    <h2>{% trans "Delete gift" %}</h2>
</div>
{% if user.is_authenticated %}
<form method="POST" class="w3-card-4 w3-margin w3-padding w3-leftbar w-form w-opacity w-gray w-text-green w-border-green" enctype="multipart/form-data">
    <div class="w-text-black">
      <h2>{{ object.title }}</h2>
      {{ object.get_html_description|safe }}
    </div>
    {% csrf_token %}
    <button type="submit" class="w-button w-hover-opacity w-text-green w-border-green w-gray">{% trans "Delete" %}</button>
</form>
{% else %}
<div class="w3-card-4 w3-margin w3-padding w3-leftbar w-opacity w-gray w-text-black w-border-green w-opacity">
{% trans "You are not allowed to delete gifts." %}
</div>
{% endif %}
{% endblock %}
