{% extends 'web/base.html' %}
{% load i18n %}

{% block content %}
<div class="w3-margin w3-padding w3-card-4 w-green w-text-gray w-opacity">
    <h2>{% trans "Confirm gift reservation" %}</h2>
</div>

<form method="POST" class="w3-card-4 w3-margin w3-padding w3-leftbar w-form w-opacity w-gray w-text-green w-border-green" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="w-text-black">
      <h2>{{ object.title }}</h2>
      {{ object.get_html_description|safe }}
    </div>
    <button type="submit" class="w-button w-hover-opacity w-text-green w-border-green w-gray">{% trans "Confirm the reservation of one piece" %}</button>

</form>

{% endblock %}
