{% extends 'web/base.html' %}
{% load i18n %}

{% block content %}

<div class="w3-card-4 w3-padding w3-margin w-opacity w-green w-text-gray">
    <h2>{% trans "Gifts/Wishes" %}
        {% if user.is_authenticated %}
        <span class="delimiter">&#124;</span>
        <a href="{% url 'gifts:create' %}">
            <div class="w-button w-hover-opacity w-text-gray w-border-gray">{% trans "Add" %}</div>
        </a>

        <a href="{% url 'gifts:preamble-create' %}">
            <div class="w-button w-hover-opacity w-text-gray w-border-gray">{% trans "Add preamble" %}</div>
        </a>
        {% endif %}
    </h2>
</div>

{% for p in preambles %}
  <div class="w3-card-4 w3-leftbar w3-padding w3-margin w3-center w-gray w-text-black w-border-green w-opacity">
    {% if user.is_authenticated %}
    <div class="w3-right-align w3-large">
        <a href="{% url 'gifts:list' %}preamble/{{ p.id }}/"><i
                class="fa fa-bars w-hover-opacity w-text-green"></i></a>

        <span class="delimiter">&#124;</span>
        <a href="{% url 'gifts:list' %}preamble/{{ p.id }}/delete/"><i
                class="fa fa-close w-hover-opacity w-text-green"></i></a>
    </div>
    {% endif %}
    {{ p.get_html_first|safe }}
  </div>

  {% for p_html in p.get_html_tail %}
  <div class="w3-card-4 w3-leftbar w3-padding w3-margin w3-center w-gray w-text-black w-border-green w-opacity">
      {{ p_html|safe }}
  </div>
  {% endfor %}
{% endfor %}

{%if message %}
<div id="content" class="w3-card-4 w3-leftbar w3-padding w3-margin w3-center w-gray w-text-black w-border-green w-opacity">
<h3>{{ message }}</h3>
</div>
{% endif %}

<div>
{% for g in all_gifts %}
<div class="w3-card-4 w-card w3-margin w3-leftbar w3-padding w-text-black w-gray w-border-green w-opacity {% if not g.enabled %} w-disabled{% endif %}">
    {% if user.is_authenticated %}
    <div class="w3-right-align w3-large">
        <span class="w-text-green">{{ g.reserved }} / {{ g.capacity }}</span>
        <span class="delimiter">&#124;</span>
        <a href="{% url 'gifts:list' %}{{ g.id }}/#content"><i
                class="fa fa-bars w-hover-opacity w-text-green"></i></a>

        <span class="delimiter">&#124;</span>
        <a href="{% url 'gifts:list' %}{{ g.id }}/delete/#content"><i
                class="fa fa-close w-hover-opacity w-text-green"></i></a>
    </div>
    {% endif %}
    <h2>{{ g.title }} </h2>
    <img src="{{ g.image.url }}" class="w-card-img"/>
    <p>{{ g.get_html_description|safe }}</p>
    <a href="{% url 'gifts:list' %}{{ g.id }}/reserve/#content">
        {% if g.enabled %}
        <div class="w-button w-hover-opacity w-text-green w-border-green">{% trans "Reserve" %}</div>
        {% endif %}
    </a>
    {% if g.free_count == "infinite" %}
    <div class="w3-right-align">{% trans "infinite" %}</div>
    {% elif g.free_count > 1 %}
    <div class="w3-right-align">{% trans "count" %}: {{ g.free_count }}</div>
    {% endif %}
</div>
{% endfor %}

</div>

{% endblock content %}
