{% extends 'web/base.html' %}
{% load i18n %}

{% block content %}

    <form method="post" class="w3-card-4 w3-margin w3-padding w3-leftbar w-border-green w-form w-opacity w-gray w-text-green" action="{% url 'login' %}">
	{% csrf_token %}
	{% for field in form %}
	    <label class="">{{ field.label_tag }}</label>
	    <div class="">{{ field }}</div>
	{% endfor %}

	{% if form.errors %}
	<div class="form login error">{{ form.errors }}</div>
	{% endif %}

        <div class="">
            <button type="submit"  class="w-button w-hover-opacity w-text-green w-border-green w-gray">{% trans "Log in" %}</button>
            <input type="hidden" name="next" value="{{ next }}#content" />
        </div>

    </form>

{% endblock %}
