a {
    text-decoration: none;
}

body {
    background-image: url("/static/img/rozar4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 17px;
}

/* centered */

.container,
.page-header,
.login.table {
    text-align: center;
}


/* lobster font */

div, h1, h2, h3, h4, h5, h6 {
     font-family: 'Lobster';
}


/* rounded */

.page-header,
.title,
.menu-item,
.item,
.post-form,
.answer.create {

    border-radius: 0px;
    /*border: 4.5px; /*solid white;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.08);*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    opacity: 0.8;
    transition: 0.3s;
}

.item:hover,
.title:hover,
.menu-item:hover,
.page-header:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* white on green */
.title,
.page-header,
.question.new,
.save.btn,
.answer.create,
.item.green {
     color: rgb(250, 250, 250);
     background-color: rgb(139, 150, 32);
     opacity: 0.85;
}


/* green on gray */
.item,
.menu-item,
.post-form {
    color: black; /*rgb(139, 150, 32);*/
    background-color: rgb(239, 229, 217);
    opacity: 0.75;
}


/******************/


/* header */

.page-header {
    margin: 1%;
    padding: 0.5%;
    font-size: 26px;
}


.btn:hover {
    position: relative;
    top: 4px;
}

.menu-item {
     display: inline-block;
     min-width: 50px;
     margin: 4px;
     padding: 10px 40px 10px 40px;
     font-size: 16pt;
}

.menu-item.active {
     color: rgb(139, 150, 32);;
}

.menu.container {
    margin: 0% 4% 0% 4%;
}

/* titles */

.title {
     margin: 1% 1% 2% 1%;
     padding: 0.5%;
     font-size: 20px;
}

/* contents */

.item {
    margin: 1% 4% 4% 4%;
    padding: 8px;
}

.question.item {
    margin: 2% 4% 0% 4%;
    padding: 4px 4px 4px 4px;
}

.question.item p,
.question.item h2,
.answer.item p,
.answer.item h2 {
    margin: 2% 4% 0% 4%;
}

.question.item .icons-group {
    margin: 4px;
}

.answer.item {
    margin: 1% 4% 6% 20%;
    padding: 4px 4px 4px 4px;
}

.item-footer {
    color: black;
    padding: 8px;
    text-align: right;
}

.question.item,
.answer.item {
    text-align: left;
}

.question.new {
    padding: 10px 0px 10px 0px;
    font-size: 16pt;
    display: inline-block;
    text-align: center;
    width: 50%;
}

.answer.box {
    text-align: right;
    margin: 1% 4% 2% 4%;
}

.post-form {
    text-align: center;
    margin: 4% 4% 2% 4%;
    font-size: 16pt;
}

.save.btn {
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin: 2%;
    font-size: 18pt;
}



.user.name {
    color: black;
    margin: 2px 4px 2px 4px;
}

.content.container {
    margin-bottom: 100px;
}

.item.btn {
    padding: 4px 32px 4px 32px;
    display: inline-block;
    font-size: 14pt;
    width: auto;
    margin: 1% 0 1% 0;
}

.btn.small {
    font-size: 12pt;
}

.btn.full {
    display: block;
}



.in-text.btn {
    margin-left: 2%;
    margin-right: 2%;
}

.user.item.green,
.item.btn.full {
    margin: 4% 1% 1% 1%;
}

/* forms */

.form.error,
.form.label {
    padding: 5px;
}



.full.btn.form {
    width: 98%;
}

.user.container {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.arrow.box {
    text-align: right;
    margin: 1% 4% 2% 4%;
}

.arrow.item {
    font-size: 28pt;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    opacity: 0.6;
}

.sub.item.btn {
    opacity: 1;
}


.w-card {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
}

.giftcard {
    text-align: center;
}
.w-card-img {
    max-width: 160px;
    max-height: 160px;
    opacity: 1;
    background-color: white;
}

.giftbtn,
.btnlogout,
.btnanswer {
    border-radius: 40px;
    padding: 2px 18px;
    margin: 4px;
    transition: 0.3s;
    display: inline-block;
}

.giftbtn,
.btnanswer {
    color: rgb(139, 150, 32);
    border: 3px solid rgb(139, 150, 32);
}

.btnlogout {
    color: rgb(239, 229, 217);
    border: 3px solid rgb(239, 229, 217);
}

.giftcard h2 {
    font-size: 18px;
}


.gifts, .giftcard {
    vertical-align: middle;
}

.giftcard.disabled,
.icons.disabled {
    opacity: 0.3;
}


.giftbtn:hover,
.btnlogout:hover,
.btnanswer:hover,
.icons a:hover {
    opacity: 0.6;
}

.icons a {
    color: rgb(139, 150, 32);


}

.delimiter {
    color: black;
    opacity: 0.1;
}

.icons-group {
    text-align: right;
    font-size: 24px;
    vertical-align: middle;
}

.icon-text {
    color: rgb(139, 150, 32);
    font-size: 14px;
}

.btnlogout.headding {
    font-size: 18px;
}



/* NEW */


/* colors */
.w-green {
    background-color: rgb(139, 150, 32)!important;
}

.w-gray {
    background-color: rgb(239, 229, 217)!important;
}

.w-white {
    background-color: white!important;
}

.w-text-green {
    color: rgb(139, 150, 32)!important;
}

.w-text-gray {
    color: rgb(239, 229, 217)!important;
}

.w-text-white {
    color: white!important;
}

.w-text-black {
    color: black!important;
}

.w-text-black a {
    color: rgb(139, 150, 32)!important;
}

.w-text-black a:hover {
    opacity: 0.2;
}

.w-border-green {
    border-color: rgb(139, 150, 32)!important;
}

.w-border-white {
    border-color: white!important;
}

.w-border-gray {
    border-color: rgb(239, 229, 217)!important;
}


/* slow movements */
.w-opacity,
.w-disabled,
.w-hover-opacity,
.w-button,
.w-text-black a:hover {
    transition: 0.5s;
}

.w-opacity {
    opacity: 0.7;
}

.w-opacity.w-green {
    opacity: 0.8;
}

.w-hover-opacity:hover {
    opacity: 0.2;
}

.w-disabled {
 opacity: 0.4!important;
}

.w-no-opacity,
.w-no-opacity . {
    opacity: 1;
}

.w-hover-opacity.w-disabled:hover  {
    opacity: 0.2;
}


.w-button {
    border-radius: 40px!important;
    padding: 2px 18px!important;
    margin: 4px!important;
    transition: 0.3s;
    display: inline-block;
    border-style: solid!important;
    border-width: 3px!important;
    font-size: 18px;
    width: auto!important;
}

.w-button:hover,
.dots:hover,
.w-arrow:hover {
    cursor: pointer;
}

.w-margin-left {
    margin-left: 25% !important;
}

.w-margin {
    margin: 4px;
}

.w-form {
    padding: 4%!important;
}

.w-form input {
    text-align: center;
    font-size: 14pt;
    width: 60%;
    background-color:rgba(0, 0, 0, 0);
    border: none;
    border-bottom:3px solid rgb(139, 150, 32)!important;
    border-radius: 8px;
}

.w-form textarea {
    font-size: 14pt;
    width: 60%;
    background-color:rgba(0, 0, 0, 0);
    border: 3px solid rgb(139, 150, 32)!important;
    border-radius: 8px;
}

.w-form label {
    font-size: 16pt!important;
}

.w-form div {
    padding: 2%;
}


.w-hover-movedown:hover {
    position: relative;
    top: 4px;
}

.slides {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



@media only screen and (min-width: 768px) {

    .content-point {
        position: fixed;
        top: 0;
    }

    .w-fixed-on-desktop {
      position: fixed;
    }

    .w-height-on-desktop {
      height: 90%!important;
    }

}

@media only screen and (max-height: 512px) {

  .w-height-on-desktop {
    height: 80%!important;
  }

}
