{% extends 'web/base.html' %}
{% load i18n %}

{% block content %}
<div class="w3-margin w3-padding w3-card-4 w-green w-text-gray w-opacity">
    <h2>{% trans "Upload media file" %}</h2>
</div>

{% if user.is_authenticated %}

{% if error %}
  <div class="w3-card-4 w3-margin w3-padding w3-leftbar w-opacity w-gray w-text-black w-border-green w-opacity">
  {{ error }}
  </div>
{% endif %}

{% if uploaded_file_url %}
  <div class="w3-card-4 w3-leftbar w3-padding w3-margin w3-center w-gray w-text-black w-border-green w-opacity">
    <h4>{% trans "File uploaded at:" %}</h4>
    <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a>
  </div>

  <div class="w3-card-4 w3-leftbar w3-padding w3-margin w3-center w-gray w-text-black w-border-green w-opacity">
    <h4>{% trans "Usage in the text (markdown syntax):" %}</h4>
    <div class="w3-padding w3-margin">[{% trans "Displayed name of the link" %}]({{ uploaded_file_url }})</div>
    <div class="fa fa-arrows-v"></div>
    <div class="w3-padding w3-margin"><a href="{{ uploaded_file_url }}">{% trans "Displayed name of the link" %}</a></div>
  </div>

{% endif %}

<form class="w3-card-4 w3-margin w3-padding w3-leftbar w-form w-opacity w-gray w-text-green w-border-green" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div><input type="file" name="myfile"></div>
  <button class="w-button w-hover-opacity w-text-green w-border-green w-gray" type="submit">{% trans "Upload" %}</button>
</form>



{% else %}
<div class="w3-card-4 w3-margin w3-padding w3-leftbar w-opacity w-gray w-text-black w-border-green w-opacity">
{% trans "You are not allowed to upload media files." %}
</div>
{% endif %}

{% endblock %}
