{% extends 'web/base.html' %}
{% load i18n %}

{% block content %}

<div class="w3-container w3-margin w-opacity w-green w-text-gray">

    <h2>{% trans "Contacts" %}&nbsp;&nbsp;
        {% if user.is_authenticated %}
        <span class="delimiter">&#124;</span>
        <a href="{% url 'user:signup' %}">
            <span class="w-button w-hover-opacity w-text-gray w-border-gray">{% trans "Add new" %}</span>
        </a>
        &nbsp;&nbsp;
        {% endif %}
    </h2>
</div>

{% for user in user_list %}
{% if not user.is_superuser %}
<div id="{{ user.username }}" class="w3-card-4 w3-leftbar w3-padding w3-margin w3-center w-border-green w-gray w-opacity">
    <h2>{{ user.username }}</h2>
    <div class="w3-right-align">
	<i class="fa fa-at"></i> {{ user.email }}
    </div>
    <div class="w3-right-align">
        <i class="fa fa-calendar"></i> {{ user.last_login.date }}&nbsp;&nbsp;&nbsp;
        <i class="fa fa-clock-o"></i> {{ user.last_login.time }}
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock content %}
