{% extends 'web/base.html' %}
{% load i18n %}

{% block content %}

<div class="w3-container w3-margin w-opacity w-green w-text-gray">

    <h2>{% trans "Articles" %}&nbsp;&nbsp;
        {% if user.is_authenticated %}
        <span class="delimiter">&#124;</span>
        <a href="{% url 'articles:create' %}">
            <span class="w-button w-hover-opacity w-text-gray w-border-gray">{% trans "Add new" %}</span>
        </a>
        &nbsp;&nbsp;
        {% endif %}
    </h2>
</div>

{% for article in article_list %}
<div class="w3-card-4 w3-leftbar w3-padding w3-margin w3-center w-border-green w-gray w-opacity">
    {% if user.is_authenticated %}
    <div class="w3-right-align w3-large w3-cell-middle">

        <a href="{% url 'articles:list' %}{{ article.name }}/">
            <span class="w3-medium w-button w-hover-opacity w-text-green w-border-green w-gray">
                <i class="fa fa-link w-hover-opacity w-text-green"></i> &nbsp;{{ article.name }}
            </span>
        </a>

        <span class="delimiter">&#124;</span>

        <a href="{% url 'articles:list' %}id/{{ article.id }}/"><i
                class="fa fa-bars w-hover-opacity w-text-green"></i></a>

        <span class="delimiter">&#124;</span>

        <a href="{% url 'articles:list' %}id/{{ article.id }}/delete/"><i
                class="fa fa-close w-hover-opacity w-text-green"></i></a>

    </div>
    {% endif %}
    {{ article.title }}

</div>
{% endfor %}

{% endblock content %}
