{% extends 'web/base.html' %}
{% load i18n %}

{% block content %}

<div class="w3-margin w3-padding w3-card-4 w-green w-text-gray w-opacity">
    {% if user.is_authenticated %}
    <div class="w3-right-align w3-large">
        <a href="/articles/id/{{ article.id }}/"><i
                class="fa fa-bars w-hover-opacity w-text-gray"></i></a>

        <span class="delimiter">&#124;</span>
        <a href="/articles/id/{{ article.id }}/delete/"><i
                class="fa fa-close w-hover-opacity gray"></i></a>
    </div>
    {% endif %}
    <h2>{{ article.title }}</h2>
</div>

{% for p in article.get_html_list %}
<div class="w3-card-4 w3-leftbar w3-padding w3-margin w3-center w-gray w-text-black w-border-green w-opacity">
    {{ p|safe }}
</div>
{% endfor %}


{% endblock content %}
