{% extends 'web/base.html' %}
{% load i18n %}
{% trans "Articles" %}

{% block content %}

<div class="w3-margin w3-padding w3-card-4 w-green w-text-gray w-opacity">
<h2>{% trans "Article not found!" %}</h2>
</div>

{% endblock content %}
