{% extends 'web/base.html' %}
{% load i18n %}

{% block content %}

<div class="w3-card-4 w3-padding w3-margin w-opacity w-green w-text-gray">
    <h2>{% trans "Mail send" %}</h2>
</div>

{% endblock content %}
