{% load menu_generator %}
{% load i18n %}

<html>
<head>
    <title>Svatba &#9829; {% if title %}{{ title }}{% endif %}</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="/static/css/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/web.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<a href="/#content">
<div class="w3-card-4 w3-margin w3-padding w-green w-text-gray w3-center w-opacity">
    <h1>František a Dominika</h1>
</div>
</a>

<div class="w3-margin w3-center">
    {% get_menu "MAIN_MENU" as main_menu %}
    {% for item in main_menu %}
    <a href="{{ item.url }}#content">
        <span class="w3-large w3-card-4 w3-show-inline-block w-margin w-hover-movedown w3-padding w-opacity w-gray {% if item.selected %}w-text-green{% else %}w-text-black{% endif %}">{{ item.name }}</span>
    </a>
    {% endfor %}
    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}?next={% firstof request.path '/' %}"><span
            class="w3-large w3-card-4 w3-show-inline-block w-margin w-hover-movedown w3-padding w-opacity w-gray {% if request.path == '/user/login/'%}w-text-green{% else %}w-text-black{% endif %}">Admin</span></a>
    {% endif %}
</div>
<div class="content-point" {% if not message %}id="content"{% endif %}></div>
<div class="content container">
    {% block content %}
    {% endblock %}
    <div class="w3-right-align"><a href="#top"><i
            class="w3-margin w3-card-4 w3-large w3-leftbar w-border-green w3-padding-16 w3-padding fa fa-arrow-up w-opacity w-hover-opacity w-text-green w-gray"></i></a>
    </div>
</div>
{% if request.path != "/accounts/login/"%}
<div class="user container">
    {% if user.is_authenticated %}
    <div class="w3-card-4 w3-margin w3-padding w-opacity w-green w-text-gray">
                <span class="text-in-item">
                    {% trans "Logged user:" %} <span class="user name">{{ user }}</span>
                </span>
        <span class="delimiter">&#124;</span>
        <a href="{% url 'logout' %}?next={% firstof request.path '/' %}#content">
            <div class="btnlogout">{% trans "Log out" %}</div>
        </a>
      {% if user.is_superuser %}
  	    {% get_current_language as LANG %}
  	    {% get_current_language as LANGUAGE_CODE %}
  	    {{ LANG }} | {{ LANGUAGE_CODE }}
      {% endif %}
    </div>
    {% endif %}
</div>
{% endif %}
</body>
</html>
