{% load menu_generator %}
{% load i18n %}

<html>
<head>
    <title>Svatba &#9829; {% if title %}{{ title }}{% endif %}</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="/static/css/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/web.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<a href="/#content">
<div class="w3-card-4 w3-margin w3-padding w-green w-text-gray w3-center w-opacity">
    <h1>František a Dominika</h1>
</div>
</a>

<div class="w3-center w-fixed-on-desktop" style="bottom: 10%; width: 100%">
    {% get_menu "MAIN_MENU" as main_menu %}
    {% for item in main_menu %}
    <a href="{{ item.url }}#content">
        <span class="w3-large w3-card-4 w3-show-inline-block w-margin w-hover-movedown w3-padding w-opacity w-gray {% if item.selected %}w-text-green{% else %}w-text-black{% endif %}">{{ item.name }}</span>
    </a>
    {% endfor %}
    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}?next={% firstof request.path '/' %}"><span
            class="w3-large w3-card-4 w3-show-inline-block w-margin w-hover-movedown w3-padding w-opacity w-gray {% if request.path == '/user/login/'%}w-text-green{% else %}w-text-black{% endif %}">Admin</span></a>
    {% endif %}
</div>

<div class="w3-center w-height-on-desktop" style="height:40%">
  <img class="slides" src="/media/titulka0.jpg">
  <img class="slides" src="/media/titulka1.jpg">
  <img class="slides" src="/media/titulka2.jpg">
  <img class="slides" src="/media/titulka3.jpg">
  <img class="slides" src="/media/titulka4.jpg">
  <img class="slides" src="/media/titulka5.jpg">
  <img class="slides" src="/media/titulka6.jpg">
  <img class="slides" src="/media/titulka7.jpg">
  <img class="slides" src="/media/titulka8.jpg">
  <img class="slides" src="/media/titulka9.jpg">
  <img class="slides" src="/media/titulka10.jpg">
  <img class="slides" src="/media/titulka11.jpg">
  <img class="slides" src="/media/titulka12.jpg">
  <img class="slides" src="/media/titulka13.jpg">
  <img class="slides" src="/media/titulka14.jpg">
  <img class="slides" src="/media/titulka15.jpg">

    <div class="w3-center w3-padding w3-large w3-text-white" style="position: fixed; bottom: 1%; width: 100%">
      <div class="w3-left w-arrow" onclick="plusDivs(-1)">&#10094;</div>
      <div class="w3-right w-arrow" onclick="plusDivs(1)">&#10095;</div>

      <span class="fa fa-circle-o dots w3-transparent" onclick="currentDiv(1)"></span>
      <span class="fa fa-circle-o dots w3-transparent" onclick="currentDiv(2)"></span>
      <span class="fa fa-circle-o dots w3-transparent" onclick="currentDiv(3)"></span>
      <span class="fa fa-circle-o dots w3-transparent" onclick="currentDiv(4)"></span>
      <span class="fa fa-circle-o dots w3-transparent" onclick="currentDiv(5)"></span>
      <span class="fa fa-circle-o dots w3-transparent" onclick="currentDiv(6)"></span>
      <span class="fa fa-circle-o dots w3-transparent" onclick="currentDiv(7)"></span>
      <span class="fa fa-circle-o dots w3-transparent" onclick="currentDiv(8)"></span>
      <span class="fa fa-circle-o dots w3-transparent" onclick="currentDiv(9)"></span>
      <span class="fa fa-circle-o dots w3-transparent" onclick="currentDiv(10)"></span>
      <span class="fa fa-circle-o dots w3-transparent" onclick="currentDiv(11)"></span>
      <span class="fa fa-circle-o dots w3-transparent" onclick="currentDiv(12)"></span>
      <span class="fa fa-circle-o dots w3-transparent" onclick="currentDiv(13)"></span>
      <span class="fa fa-circle-o dots w3-transparent" onclick="currentDiv(14)"></span>
      <span class="fa fa-circle-o dots w3-transparent" onclick="currentDiv(15)"></span>
      <span class="fa fa-circle-o dots w3-transparent" onclick="currentDiv(16)"></span>
    </div>
  </div>

  <script>
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function currentDiv(n) {
    showDivs(slideIndex = n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("slides");
    var dots = document.getElementsByClassName("dots");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
       dots[i].className = dots[i].className.replace(" fa-circle ", " fa-circle-o ");
    }
    x[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className = dots[slideIndex-1].className.replace(" fa-circle-o ", " fa-circle ");
  }


carousel();

function carousel() {
    showDivs(slideIndex)
    slideIndex++;
    setTimeout(carousel, 5000);
}
  </script>




</body>
</html>
