{% extends 'web/base.html' %}
{% load i18n %}

{% block content %}

<div class="w3-container w3-margin w-opacity w-green w-text-gray">

    <h2>{% trans "News" %}&nbsp;&nbsp;
        {% if user.is_authenticated %}
        <span class="delimiter">&#124;</span>
        <a href="{% url 'web:news-create' %}">
            <span class="w-button w-hover-opacity w-text-gray w-border-gray">{% trans "Add" %}</span>
        </a>
        &nbsp;&nbsp;
        {% endif %}

        <a href="{% url 'web:news-feed' %}">
            <span class="w-hover-opacity w-text-gray w-border-gray"><i
                    class="fa fa-rss w3-large"></i></span>
        </a>
    </h2>
</div>

<div class="news">
    {% for n in all_news %}
    <div class="w3-card-4 w3-leftbar w3-padding w3-margin w3-center w-text-black w-border-green w-gray w-opacity">
        {% if user.is_authenticated %}
        <div id="news{{ n.id }}" class="w3-right-align w3-large w3-cell-middle">
            <a href="{% url 'web:news-list' %}{{ n.id }}/mail/">
                <i class="w-hover-opacity w-text-green fa fa-envelope{% if n.send_date %}-o{% endif %}"></i></a>

            <span class="delimiter">&#124;</span>

            <a href="{% url 'web:news-list' %}{{ n.id }}/"><i
                    class="fa fa-bars w-hover-opacity w-text-green"></i></a>

            <span class="delimiter">&#124;</span>

            <a href="{% url 'web:news-list' %}{{ n.id }}/delete/"><i
                    class="fa fa-close w-hover-opacity w-text-green"></i></a>

        </div>
        {% endif %}
        <h2>{{ n.title }}</h2>
        <p>{{ n.get_html_text|safe }}</p>
        <div class="w3-right-align"><i class="fa fa-calendar"></i> {{ n.date.date }}&nbsp;&nbsp;
            <i class="fa fa-clock-o"></i> {{ n.date.time }}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
