{% extends 'web/base.html' %}
{% load i18n %}

{% block content %}
<div class="w3-margin w3-card-4 w-green w-text-gray w-opacity">
    <h2>{% trans "News" %}</h2>
</div>
{% if user.is_authenticated %}
    <form method="POST" class="w3-card-4 w3-margin w3-padding w3-leftbar w-form w-opacity w-gray w-text-green w-border-green">{% csrf_token %}
        {% for field in form %}
            <label class="">{{field.label_tag}}</label>
            <div class="">{{ field }}</div>
            <div class="">{{ field.errors }}</div>
        {% endfor %}

        <button type="submit" class="w-button w-hover-opacity w-text-green w-border-green w-gray">{% trans "Save" %}</button>
    </form>

{% else %}
<div class="w3-card-4 w3-margin w3-padding w3-leftbar w-opacity w-gray w-text-black w-border-green w-opacity">
{% trans "You are not allowed to edit news." %}
</div>
{% endif %}

{% endblock %}
