{% extends 'web/base.html' %}
{% load i18n %}

{% block content %}
<div class="w3-margin w3-padding w3-card-4 w-green w-text-gray w-opacity">
    <h2>{% trans "Answer" %}</h2>
</div>


<div class="w3-left-align w3-padding w3-card-4 w3-leftbar w3-container w3-margin w-border-green w-gray w-opacity">
    {% if user.is_authenticated %}
    <div class="w3-right-align w3-large">
        <a href="{% url 'web:question-list' %}{{ question.id }}/"><i
                class="fa fa-bars w-hover-opacity w-text-green"></i></a>

        <span class="delimiter">&#124;</span>

        <a href="{% url 'web:question-list' %}{{ question.id }}/delete/"><i
                class="fa fa-close w-hover-opacity w-text-green"></i></a>
    </div>
    {% endif %}
    <h2>{{ question.title }}</h2>
    <p>{{ question.text|linebreaksbr }}</p>
    <div class="w3-right-align">
        <i class="fa fa-user-o"></i> {{ question.author|linebreaksbr }}&nbsp;&nbsp;&nbsp;
        <i class="fa fa-calendar"></i> {{ question.date.date }}&nbsp;&nbsp;&nbsp;
        <i class="fa fa-clock-o"></i> {{ question.date.time }}
    </div>
</div>


{% if user.is_authenticated %}
<form method="POST" class="w3-card-4 w3-margin w3-padding w3-leftbar w-margin-left w-form w-opacity w-gray w-text-green w-border-green" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
            <label class="">{{field.label_tag}}</label>
            <div class="">{{ field }}</div>
            <div class="">{{ field.errors }}</div>
    {% endfor %}


    <button type="submit" class="w-button w-hover-opacity w-text-green w-border-green w-gray">Uložit</button>

</form>

{% else %}
<div class="w3-card-4 w3-margin w3-padding w3-leftbar w-opacity w-gray w-text-black w-border-green w-opacity">
{% trans "You are not allowed to answer questions." %}
</div>
{% endif %}



{% endblock %}
