{% extends 'web/base.html' %}
{% load i18n %}

{% block content %}

<div class="w3-card-4 w3-margin w3-padding w-opacity w-green w-text-gray">
    <h2>{% trans "Questions and maybe also answers" %}
        <span class="delimiter">&#124;</span>
        <a href="{% url 'web:question-create' %}#content">
            <div class="w-button w-hover-opacity w-text-gray w-border-gray">{% trans "Add question" %}</div>
        </a>
    </h2>
</div>

{% for q in  all_questions %}
<div id="question{{ q.id }}" class="w3-left-align w3-padding w3-card-4 w3-leftbar w3-container w3-margin w-border-green w-gray w-opacity">
    {% if user.is_authenticated %}
    <div class="w3-right-align w3-large">
        <a href="{% url 'web:question-list' %}{{ q.id }}/"><i
                class="fa fa-bars w-hover-opacity w-text-green"></i></a>

        <span class="delimiter">&#124;</span>

        <a href="{% url 'web:question-list' %}{{ q.id }}/delete/"><i
                class="fa fa-close w-hover-opacity w-text-green"></i></a>
    </div>
    {% endif %}
    <h2>{{ q.title }}</h2>
    <p>{{ q.text|linebreaksbr }}</p>
    <div class="w3-right-align">
        <i class="fa fa-user-o"></i> {{ q.author|linebreaksbr }}&nbsp;&nbsp;&nbsp;
        <i class="fa fa-calendar"></i> {{ q.date.date }}&nbsp;&nbsp;&nbsp;
        <i class="fa fa-clock-o"></i> {{ q.date.time }}
    </div>
</div>


<div class="w3-card-4 w3-padding w3-leftbar w3-container w3-margin w3-left-align w-border-green w-gray w-opacity w-margin-left">
    {% if q.answer %}
    {% if user.is_authenticated %}
    <div class="w3-right-align w3-large">
        <a href="/answer/{{ q.answer.id }}/"><i
                class="fa fa-bars w-hover-opacity w-text-green"></i></a>

        <span class="delimiter">&#124;</span>

        <a href="/answer/{{ q.answer.id }}/delete/"><i
                class="fa fa-close w-hover-opacity w-text-green"></i></a>
    </div>
    {% endif %}
    <p>{{ q.answer.text|linebreaksbr }}</p>
    <div class="w3-right-align">
        <i class="fa fa-user-o"></i> {{ q.answer.author|linebreaksbr }}&nbsp;&nbsp;&nbsp;
        <i class="fa fa-calendar"></i> {{q.answer.date.date}}&nbsp;&nbsp;&nbsp;
        <i class="fa fa-clock-o"></i> {{ q.answer.date.time }}
    </div>
    {% else %}
    <span>{% trans "Not answered yet." %}</span>
    {% if user.is_authenticated %}
    <a href="{% url 'web:question-list' %}{{ q.id }}/add-answer/"><span class="btnanswer">{% trans "Answer" %}</span></a>
    {% endif %}
    {% endif %}
</div>

{% endfor %}

{% endblock content %}
