{% extends 'web/base.html' %}

{% block content %}
<div class="w3-card-4 w3-margin w3-padding w-opacity w-green w-text-gray">
    <h2>Dotaz</h2>
</div>

{% if user.is_authenticated %}
<form method="POST" class="w3-card-4 w3-margin w3-padding w3-leftbar w-form w-opacity w-gray w-text-green w-border-green">
    {% csrf_token %}

    {% for field in form %}
    <label class="">{{field.label_tag}}</label>
    <div class="">{{ field }}</div>
    <div class="">{{ field.errors }}</div>
    {% endfor %}

    <button type="submit" class="w-button w-hover-opacity w-text-green w-border-green w-gray">Potvrdit</button>
</form>

{% else %}
Nemáte právo editovat dotazy.
{% endif %}

{% endblock %}
