{% extends 'web/base.html' %}
{% load i18n %}
{% load tz %}

{% block content %}

<div class="w3-container w3-margin w-opacity w-green w-text-gray">

    <h2>{% trans "Registration" %}&nbsp;&nbsp;
        <span class="delimiter">&#124;</span>
        <a href="{% url 'web:registration-create' %}">
            <span class="w-button w-hover-opacity w-text-gray w-border-gray">{% trans "Add" %}</span>
        </a>
    </h2>
</div>

{% if user.is_authenticated %}

{% for r in registration_list %}
<div class="w3-card-4 w3-leftbar w3-padding w3-margin w3-center w-border-green w-gray w-opacity">
  <div class="w3-right-align w3-large">
      <a href="{% url 'web:registration-list' %}{{ r.id }}/"><i
              class="fa fa-bars w-hover-opacity w-text-green"></i></a>

      <span class="delimiter">&#124;</span>

      <a href="{% url 'web:registration-list' %}{{ r.id }}/delete/"><i
              class="fa fa-close w-hover-opacity w-text-green"></i></a>
  </div>
    <h2>{{ r.name }} ({{ r.people_count }})</h2>
    <p>{% if r.go_to_lunch %} {% trans "Lunch" %} {% endif %}
      {% if r.go_to_party %} {% trans "Party" %} {% endif %}
      -> {{ r.mail }}</p>
    {% localtime on %}
    <div class="w3-right-align"><i class="fa fa-calendar"></i> {{ r.date.date }}&nbsp;&nbsp;
        <i class="fa fa-clock-o"></i> {{ r.date.time }}
    </div>
    {% endlocaltime %}
</div>
{% endfor %}


{% else %}
<div class="w3-card-4 w3-margin w3-padding w3-leftbar w-opacity w-gray w-text-black w-border-green w-opacity">
{% trans "You are not allowed to view registrations." %}
</div>

{% endif %}

{% endblock content %}
